.containerHeader {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    z-index: 100;
}

.logoContainer img {
    height: 40px;
}

.separatorLine {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 2rem;
    max-width: 500px; 
    width: 100%;
}


