.containerCrew {
    background-image: url('../../assets/img/crew/background-crew-desktop.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; 
    padding: 4rem; 
    box-sizing: border-box;
}

.crewContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    color: white;
    margin-left: 15%;
}

.crewLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 600px;
    margin-bottom: 20%;
}

.crewInfo {
    margin-top: 2rem;
   
}

.crewRole {
    text-transform: uppercase;
    font-family: 'Bellefair', sans-serif;
    font-size: 1.5rem;
    color: #d0d6f9;
}

.crewName {
    font-size: 3.5rem;
    font-family: 'Bellefair', serif;
    margin-bottom: 1rem;
}

.crewBio {
    color: #d0d6f9;
    line-height: 1.6;
    font-family: 'Barlow', sans-serif;
     width: 500px;
}

.crewDots {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff20;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

.crewRight {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
}

.crewImg {
    position: absolute;
    bottom: 5%;
    left: 60%;
    height: 600px;
    object-fit: contain;
}

.crewNavigation {
    position: absolute;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 15%;
  bottom: 20%;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.dot.active {
  background-color: white;
}
